/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}


@font-face {
    font-family: 'TT-Squares';
    src: url(../fonts/TT-Squares-Regular.ttf)  format('truetype');
    src: url(../fonts/TT-Squares-Regular.woff) format('woff');
    src: url(../fonts/TT-Squares-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT-Squares';
    src: url(../fonts/TT-Squares-Bold.ttf)  format('truetype');
    src: url(../fonts/TT-Squares-Bold.woff) format('woff');
    src: url(../fonts/TT-Squares-Bold.woff2) format('woff2');
    font-weight: bold;
    font-style: bold;
}


body {
    margin: 0;
    font-family: 'TT-Squares', Fallback, sans-serif;
    background-color: #fafafa;
}

.container {
    position: relative;
}

.black-stripe {
    background-color: black;
    height: 224px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.column {
    position: absolute;
    width: 100%;
}

.content {
    display: block;
    margin: auto;
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0px 12px;
    gap: 8px;
}



.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    height: 60px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.logo {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    letter-spacing: 0.22em;
    text-transform: uppercase;
    white-space: nowrap;

    color: white;
}

.page {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.portrait {
    /* portrait */

    height: 315px;

    object-fit: cover;
    background-repeat: no-repeat;

    background-image: url(../img/portrait.jpg);
    background-position: 65% top;
    background-size: cover;
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.15));

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;


}

.info h1 {
    margin-top: 0;
    margin-bottom: 0;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;

    color: #000000;
}

.info h2 {
    margin-top: 8px;
    margin-bottom: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #000000;
}

.info ul {
    padding: 0;
}

.info li {
    margin-top: 16px;
    margin-bottom: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    line-break: auto;
    /* or 32px */

    letter-spacing: 0.03em;

    /* Text Grey */

    color: #444444;
}

.contact {
    margin: auto;
    margin-top: 32px;
    margin-bottom: 24px;
}

.contact .mail {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #000000;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 0px;
    gap: 12px;
}


.contact i {
    font-size: 24px;

}

.contact a {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    /* identical to box height */
    text-decoration: none;
    letter-spacing: 0.03em;

    color: black;
}



.contact a:hover {
    color: #333;
}



.footer {
    margin-bottom: 16px;
    /* Auto layout */

    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    gap: 24px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    /* identical to box height, or 32px */

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: #5F5F5F;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 24px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.social a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.03em;


    color: #5F5F5F;
    text-decoration: none;
}

.social a:hover {
    color: black;
}

.social i {
    font-size: 32px;
}

.social .network {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 5.45px;
}