/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}


body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #fafafa;
}

.container {
    position: relative;
}

.black-stripe {
    background-color: black;
    height: 224px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.column {
    position: absolute;
    width: 100%;
}

.content {
    display: block;
    margin: auto;
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0px 12px;
    gap: 8px;
}



.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    height: 60px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.logo {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    letter-spacing: 0.22em;
    text-transform: uppercase;
    white-space: nowrap;

    color: white;
}

.langs .desktop {
    display: none;
}

.langs {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 16px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.langs a {
    color: white;
    text-decoration: none;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: white;
}

.langs .lang {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 4px;
}

.langs .lang .underline {
    background-color: white;
    height: 1px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.page {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.portrait {
    /* portrait */

    height: 315px;

    object-fit: cover;
    background-repeat: no-repeat;

    background-image: url(../img/portrait.jpg);
    background-position: 65% top;
    background-size: cover;
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.15));

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;


}

.info h1 {
    margin-top: 0;
    margin-bottom: 0;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;

    color: #000000;
}

.info h2 {
    margin-top: 8px;
    margin-bottom: 0;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #000000;
}

.info p {
    margin-top: 16px;
    margin-bottom: 0;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    /* or 32px */

    letter-spacing: 0.03em;

    /* Text Grey */

    color: #444444;
}

.buttons {
    margin-top: 24px;
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    padding: 0px;
    gap: 12px;
}

.buttons button {
    /* Auto layout */

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 8px 16px;
    gap: 6px;

    min-width: 120px;
    height: 48px;

    /* Black */

    background: #111111;
    border-radius: 30px;
    border: none;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 200%;
    white-space: nowrap;
    /* identical to box height, or 32px */

    letter-spacing: 0.03em;
    text-transform: uppercase;

    /* White */

    color: #FFFFFF;


}

.buttons button:hover {
    background: #333;
    color: white;
    cursor: pointer;

}

.buttons .button-outlined {
    background: white;
    color: #111111;
    border: 2px solid #111111;

}

.buttons .button-outlined:hover {
    background: white;
    color: grey;
    border: 2px solid grey;
    cursor: pointer;

}

.contact {
    margin: auto;
    margin-top: 32px;
    margin-bottom: 24px;
}

.contact .mail {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #000000;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 0px;
    gap: 12px;
}


.contact i {
    font-size: 24px;

}

.contact a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    /* identical to box height */
    text-decoration: none;
    letter-spacing: 0.03em;

    color: black;
}



.contact a:hover {
    color: #333;
}



.footer {
    margin-bottom: 16px;
    /* Auto layout */

    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    gap: 24px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.copyright {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    /* identical to box height, or 32px */

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: #5F5F5F;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 24px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.social a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.03em;


    color: #5F5F5F;
    text-decoration: none;
}

.social a:hover {
    color: black;
}

.social i {
    font-size: 32px;
}

.social .network {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 5.45px;
}